.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #2f324e;
  border-radius: 5px;
  outline: none;
  color: #797e93;
  background-color: #2f324e;
  font-size: 24px;
}
.search-input-container {
  max-width: 370px;
  position: relative;
}
.search-input-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
