.friends-list-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 25px;
  padding-top: 20px;
  background-color: var(--main-color-opacity);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.friends-list-container h3 {
  display: flex;
  gap: 5px;
  font-weight: 500;
  font-size: 24px;
  align-items: center;
  margin-bottom: 25px;
  align-self: flex-start;
}

.friend-list {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  max-height: 259px;
  overflow: hidden;
  margin-bottom: 12.5px;
  transition: .5s;
}

.friend-list {
  scrollbar-width: none;
}

.friend-list::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.friend-list.open {
  max-height: 825px;
  overflow: scroll;
}

.friend-list .friend-list-container {
  width: 83px;
  height: 83px;
  border-radius: 5px;
  border: 1px solid var(--grey);
  background-position: center;
  background-size: cover;
}
