.user-profile {
  user-select: none;
  padding-right: 25px;
}

.user-dropdown {
  position: absolute;
  right: -1px;
  top: calc(100% - 15px);
  max-height: 0;
  overflow: hidden;
}

.user-dropdown.open {
  max-height: fit-content;
}

.user-dropdown-container {
  padding: 10px 27px;
  list-style-type: none;
  font-size: 16px;
  color: var(--white-half);
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--main-color);
}

.user-dropdown-container li {
  display: flex;
  gap: 5px;
  align-items: center;
  transition: 0.3s;
}

.user-dropdown-container li:hover {
  color: var(--white);
  cursor: pointer;
}

.user-dropdown-container li span {
  color: var(--white);
}

.user-triangle {
  position: absolute;
  left: calc(100% + 6px);
  width: 0;
  height: 0;
  transition: 0.1s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #797e93;
}

.user-logo-container {
  position: relative;
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 50%;
}

.user-logo-container img {
  border-radius: 50%;
}
