.posts-container {
  padding: 10px 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-color);
  font-size: 18px;
  background-color: var(--main-color-opacity);
  border: 1px solid var(--primary-color);
}

.posts-container input {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  color: var(--primary-color);
  font-size: 18px;
  transition: .3s;
  padding: 15px 0;
}

.posts-container input:focus {
  border-bottom: 1px solid var(--primary-color);
}

.input-logo-container {
  display: flex;
  align-items: center;
  gap: 30px;
  width: calc(100% - 30px);
}

.posts-container img {
  width: 100%;
  height: auto;
  max-width: 60px;
  border-radius: 100%;
}
.ql-toolbar{
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid var(--primary-color);
}
.testing-block {
  margin-top: 10px;
}
.quill {
  background-color: var(--main-color-opacity);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ql-container.ql-snow{
  border: 1px solid var(--primary-color);
}
.ql-editor:focus{
  background-color: var(--main-color);
  transition: background-color 0.2s ease;
}
.ql-toolbar.ql-snow {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ql-snow .ql-stroke, .ql-formats, .ql-picker-label {
stroke: var(--white-half);
color: var(--white-half);
}

.ql-snow .ql-fill, .ql-stroke, .ql-snow .ql-stroke.ql-fill {
  fill: var(--white-half);
  stroke: none;
  color: none
}

.ql-snow .ql-editor img{
    max-width: 700px;
}
.ql-snow .ql-tooltip {
  background-color: var(--main-color);
  border: 1px solid #ccc;
  /* color: #444; */
  padding: 5px 12px;
  white-space: nowrap;
}
.ql-snow .ql-tooltip[data-mode=link]::before {
  color:  var(--white-half);
}
.ql-snow .ql-tooltip {
  box-shadow: 0px 0px 5px #000;
}
.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
  color: var(--white-half);
}
.ql-snow .ql-tooltip.ql-editing a.ql-action:hover::after {
  color: var(--white); /* Изменение цвета при ховере */
}
.ql-editor p{
  font-size: 18px;
}
.ql-editor .ql-size-small{
  font-size: 14px;
}
.ql-editor .ql-size-large {
  font-size: 24px;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  background-color: var(--main-color);
  color: var(--white-half);
}