.posts-container {
  padding: 10px 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-color);
  font-size: 18px;
  background-color: var(--main-color-opacity);
  border: 1px solid var(--primary-color);
}

.posts-container input {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  color: var(--primary-color);
  font-size: 18px;
  transition: 0.3s;
  padding: 15px 0;
}

.posts-container input:focus {
  border-bottom: 1px solid var(--primary-color);
}

.input-logo-container {
  display: flex;
  align-items: center;
  gap: 30px;
  width: calc(100% - 30px);
}

.posts-container img {
  width: 100%;
  height: auto;
  max-width: 60px;
  border-radius: 100%;
}
.ql-toolbar {
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid var(--primary-color);
}
.user-posts-container {
  margin-top: 10px;
}
.quill {
  flex-shrink: 1;
  width: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ql-container.ql-snow {
  /* border: 1px solid var(--primary-color); */
  border: 0;
  /* border-bottom: 0; */
}

.ql-toolbar.ql-snow {
  /* border: 1px solid var(--primary-color); */
  border: none;
  border-bottom: 1px solid var(--primary-color);
  border-right: 0;
  border-radius: 0;
  border-top-left-radius: 10px;
  /* background-color: var(--main-color-opacity); */
  padding: 10px 25px;
}
.ql-snow .ql-stroke,
.ql-formats,
.ql-picker-label {
  stroke: var(--white-half);
  color: var(--white-half);
}

.ql-snow .ql-fill,
.ql-stroke,
.ql-snow .ql-stroke.ql-fill {
  fill: var(--white-half);
  stroke: none;
  color: none;
}

.ql-snow .ql-editor img {
  max-width: 700px;
}
.ql-snow .ql-tooltip {
  background-color: var(--main-color);
  border: 1px solid #ccc;
  /* color: #444; */
  padding: 5px 12px;
  white-space: nowrap;
}
.ql-snow .ql-tooltip[data-mode="link"]::before {
  color: var(--white-half);
}
.ql-snow .ql-tooltip {
  box-shadow: 0px 0px 5px #000;
}
.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
  color: var(--white-half);
}
.ql-snow .ql-tooltip.ql-editing a.ql-action:hover::after {
  color: var(--white);
}

.ql-editor.ql-blank::before {
  color: var(--white-half);
  font-family: "Inter";
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
  font-size: 16px;
}

.ql-snow .ql-editor h1 {
  font-size: 22px;
}

.ql-editor {
  /* background-color: var(--main-color-opacity); */
  padding: 15px 25px;
  /* min-height: 60px; */
  font-size: 16px;
}

.ql-editor p {
  font-size: 18px;
}
.ql-editor .ql-size-small {
  font-size: 14px;
}
.ql-editor .ql-size-large {
  font-size: 24px;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  background-color: var(--main-color);
  color: var(--white-half);
}

.text-editor-container {
  position: relative;
  display: flex;
  background-color: var(--main-color-opacity);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid var(--primary-color);
}

.text-editor-container .close-btn {
  position: absolute;
  right: 25px;
  top: 15px;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-editor-container .close-btn::before,
.text-editor-container .close-btn::after {
  content: "";
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  background-color: var(--white-half);
  border-radius: 2px;

  --length: calc(100% * 1.41421356237);
  --stroke-width: 2px;
}

.text-editor-container .close-btn::before {
  height: var(--length);
  width: var(--stroke-width);
  rotate: 45deg;
}

.text-editor-container .close-btn::after {
  width: var(--length);
  height: var(--stroke-width);
  rotate: -135deg;
}

.text-editor-container-quill {
  display: flex;
  gap: 10px;
  align-items: start;
}

.text-editor-container #post-select {
  display: none;
}

.text-editor-container .post-select-label {
  display: block;
  width: 100%;
  /* height: 70px; */
  cursor: pointer;
  /* background-color: var(--main-color-opacity); */
  transition: .3s;
  border-left: 1px dashed var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  max-width: 500px;
  flex-shrink: 2;
  padding: 5px;
  position: relative;
}

.text-editor-container .post-select-label:hover .hover-title {
  opacity: 1;
  visibility: visible;
}

.text-editor-container .post-select-label .hover-title {
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000055;
}

.post-select-label img {
  width: 100%;
}

.text-editor-container .post-select-label:hover {
  background-color: var(--main-color);
}

.text-editor-buttons-container {
  display: flex;
  gap: 25px;
}

.text-editor-buttons-container button.btn {
  width: 100%;
  border-top: 0;
  border-radius: 0;
  background-color: var(--main-color-opacity);
  border: 1px solid var(--primary-color);
  border-top: 0;
  font-weight: 600;
}
