form {
  width: 100%;
}

input[type="file"] {
  display: none;
}

.file-input-label {
  cursor: pointer;
}

.page-title {
  display: flex;
  gap: 5px;
  font-size: 28px;
  align-items: center;
  font-weight: 400;
}

.settings-page {
  margin-top: 25px;
  min-height: calc(100vh - 101px - 25px - 50px);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.settings-page .settings-content {
  /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 25px;
}

.input-title {
  margin-bottom: 10px;
  font-size: 24px;
  transition: 0.3s;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 15px;
}

.input-container img {
  border-radius: 100%;
}

.change-avatar-container {
  width: min-content;
}

.crop-container {
  --height: 500px;
  --width: 500px;
  position: relative;
  width: var(--width);
  height: var(--height);
}

.crop-container label {
  width: var(--width);
  height: var(--height);
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
}

.crop-container.inactive {
  background-color: rgb(0, 0, 0, 0.5);
}

.crop-container.landscape {
  --width: 700px;
}

.crop-container.portrait {
  --height: 500px;
  --width: 400px;
}

.crop-container img {
  width: 100%;
  max-width: var(--width);
  height: auto;
  object-fit: contain;
}

.crop-image-controls {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-top: 15px;
}

.zoom-btns {
  display: flex;
  gap: 5px;
}

.zoom-btns button {
  width: 32px;
  height: 32px;
  padding: 0;
}

.tab-content {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.checkbox-input-container {
  font-size: 24px;
  display: flex;
}

.checkbox-input-container input {
  display: none;
}

.checkbox-input-container label {
  flex-direction: row-reverse;
  position: relative;
  display: flex;
  gap: 15px;
  align-items: center;
  user-select: none;
}

.checkbox-input-container label::before {
  content: "✓";
  display: block;
  position: absolute;
  left: 7px;
  top: -3px;

  opacity: 0;
}

.checkbox-input-container label::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
}

.checkbox-input-container input:checked + label::before {
  opacity: 1;
}

.bg-patterns-container {
  width: 100%;
}

.bg-patterns-container h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.bg-patterns-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  width: 100%;
}

.bg-patterns-list img {
  max-width: 150px;
  height: auto;
  filter: brightness(2) contrast(2);
  background-color: rgba(255, 255, 255, 0.177);
}

.bg-patterns-list img.selected {
  border: 2px solid var(--primary-color);
}

.labeled-input-container .btn {
  max-width: none;
  width: 100%;
}
